* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.left-container {
    min-width: 400px;
    display: flex;
    flex-direction: column;
}

.right-container {
    height: 500px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.button-container button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.button-container button:hover {
    scale: 1.05;
    animation-duration: .1s;
    background: #dedede;
}

.input-container input {
    background: #fff;
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border-radius: 10px;
    border-color: black;
    border-width:  1px;
}

.outcome {
    width: 500px;
    height: 800px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.messageSender-container {
    margin-top: 30px;
}

.file-container {
    margin-top: 30px;
}